    @import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono);

    h1, h2, h3, p, li, a {
        font-family: 'Droid Sans', sans-serif;
    }


/* Slideshow specific styles
 ******************************************/
    /* Cover
     ******************************************/
    div.slide.front-cover {
        background-color: white;
    }

    .front-cover div {
        background-color: rgba(0,0,0,0.4);
        width: 50%;
        height: 25%;
        position: absolute;
        top: 30%;
        left: 25%;
        text-align: center;
        border-radius: 1em;
    }

    .front-cover h3 {
        font-size: 300%;
        color: white;
    }

    .front-cover p {
        font-size: 125%;
        white-space: nowrap;
        position: relative;
        top: -10%;
    }


    /* PLAY IS IMPORTANT
     ******************************************/
    .play_important iframe {
        width: 30%; height: 60%;
        float: left;
        margin: 1.5%;
    }
    .play_important a {
        display: none;
    }

    .play_important div {
        position: absolute;
        margin: 20% 1%;
        width: 99%;
        padding: 0;
        height: 60%;
    }



    /* MINDMAP
     ******************************************/
    .mindmap iframe {
        position: absolute;
        width: 100%;
        height: 95%;
    }
/*EOF*/